input#newPassword.ng-invalid.ng-touched {
    border-color: red;
}
input#oldPassword.ng-invalid.ng-touched {
    border-color: red;
}
input#confirmPassword.ng-invalid.ng-touched {
    border-color: red;
}
.red {
    border-color: red;
}
.invisible {
    width: 0px;
    height: 0px;
    background-color: white;
    color: white;
}
.loading {
    border: 2px solid green;
    width: 400px;
}
.expanding {
    background-color: green;
    height: 50px;
    animation-name: loading;
    animation-duration: 2s;
}
@keyframes loading {
    from { width: 0px;
    background-color: green; 
    }
    to { width: 400px; 
    background-color: blue; 
    }
}