<form [formGroup]="formPassword" #f="ngForm">
    <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword"
        formControlName="oldPassword"
        class="form-control">
        <div *ngIf="oldPassword.touched && oldPassword.invalid"
        class="alert alert-danger" >
            <div *ngIf="oldPassword.errors.required">Old password is required</div>
            <div *ngIf="oldPassword.errors.isInvalid">Old password is invalid</div> 
        </div>
    <label for="newPassword">New Password</label>
        <input type="password" id="newPassword"
        formControlName="newPassword"
        class="form-control">
        <div class="alert alert-danger" 
        *ngIf="newPassword.touched && !newPassword.valid">
            New password is required
        </div>
    
    <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword"
        formControlName="confirmPassword"
        class="form-control" 
        [class.red]="newPassword.touched && 
        isLeaved && (newPassword.invalid ||
        newPassword.value !== confirmPassword.value)"
        (blur)="onBlur()">
        <div class="alert alert-danger" 
        *ngIf="confirmPassword.touched && (confirmPassword.invalid
         || newPassword.value !== confirmPassword.value)">
            <div *ngIf="confirmPassword.value === ''">
                Confirming password is required
            </div>
            <div *ngIf="confirmPassword.value !== newPassword.value">
                Passwords do not match
            </div>
        </div>
    <button class="btn btn-primary"
     (click)="changePassword(formPassword.value)">
        Change Password
    </button>
    <div *ngIf="connecting" class="loading">
        connecting to the server..
        <div class="expanding"></div>
    </div>
    <div *ngIf="response" class="alert alert-danger"
    [style.backgroundColor]="response.endsWith('y') ? 'green' : 'pink'">
         {{ response }}</div>
    <button class="btn btn-warning" routerLink="/signup">
        login
    </button>
    <button class="btn btn-primary" (click)="logout()"
     routerLink="/signup">
        logout
    </button>
    
</form>